In [1]:
import numpy
import math
from scipy import stats

In [2]:
from numpy import random
import numpy as np
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)
print(dataOne)

[[0.00748152 0.71772649 0.35643441 0.59633862 0.98499608]
 [0.89948354 0.15816786 0.41022044 0.49560876 0.8930254 ]
 [0.80205016 0.4611387  0.4211204  0.88394272 0.14025433]
 [0.15976076 0.88360453 0.37298702 0.20915126 0.67351802]
 [0.43902282 0.34187885 0.05236089 0.99045904 0.26911617]]

In [3]:
np.mean(dataOne)
print(np.mean(dataOne))

0.5047939531287285

In [4]:
print(math.sqrt(dataOne))

TypeError: only size-1 arrays can be converted to Python scalars

## Error found

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-4-6ad6dd08df48> in <module>
----> 1 print(math.sqrt(dataOne))

TypeError: only size-1 arrays can be converted to Python scalars

#### some of the math methods cannot be applied to a matrix, tried a different method

In [5]:
print(math.fsum(dataOne))

TypeError: only size-1 arrays can be converted to Python scalars

## Error found

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-4-6ad6dd08df48> in <module>
----> 1 print(math.sqrt(dataOne))

TypeError: only size-1 arrays can be converted to Python scalars

#### some of the math functions cannot be applied to a matrix, tried a different method

In [7]:
stats.describe(dataOne)

DescribeResult(nobs=5, minmax=(array([0.00748152, 0.15816786, 0.05236089, 0.20915126, 0.14025433]), array([0.89948354, 0.88360453, 0.4211204 , 0.99045904, 0.98499608])), mean=array([0.46155976, 0.51250329, 0.32262463, 0.63510008, 0.592182  ]), variance=array([0.15137214, 0.08428433, 0.0235241 , 0.09764883, 0.14000884]), skewness=array([ 0.01107228,  0.11604465, -1.39030323, -0.18108935, -0.2008283 ]), kurtosis=array([-1.62214916, -1.35662333,  0.1036003 , -1.26042236, -1.65049799]))

In [8]:
stats.tvar(dataOne)

0.09525025832305971

In [9]:
stats.tmin(dataOne)

array([0.00748152, 0.15816786, 0.05236089, 0.20915126, 0.14025433])

In [10]:
stats.tmax(dataOne)

array([0.89948354, 0.88360453, 0.4211204 , 0.99045904, 0.98499608])

In [11]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [12]:
varOne = 25
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Python cannot complete the operation because it cannot implicitly convert an int to an string, this operation would require explicit convertion first.

In [15]:
intdir = {'idx1': 213, 'idx2': 235, 'idx3': 957, 'idx4': 5475, 'idx5':315}

In [16]:
math.factorial(intdir['idx1'])

1008278564960325431865207501230746666671059784788060296192453645481040817071756480671056368596620429408419831402067567466420016250440776662300253905324058663392000169016297703043245777996517004224756152349987101707088224276573627354407677913566190063955577417187178018671288113218141976501691683178566846474610121914555756617836172542513667815557862260736000000000000000000000000000000000000000000000000000

In [17]:
math.exp(intdir['idx3'])

OverflowError: math range error

# Error found
---------------------------------------------------------------------------
OverflowError                             Traceback (most recent call last)
<ipython-input-17-b8f29139f5e2> in <module>
----> 1 math.exp(intdir['idx3'])

OverflowError: math range error

#### Trying to apply a methods using an index outside of the bounds of the object.

In [18]:
math.sqrt(intdir['idx3'])

30.93541659651604

In [19]:
math.log2(intdir['idx4'])

12.418643249375899

### Example csv

In [21]:
import pandas as pd
import os

In [23]:
examplecsv = pd.read_csv(r"C:\Users\arang\Documents\Machine learning\Módulo 3\Entregable 3\wifi\trainingData.csv")

In [24]:
examplecsv.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,100,100,100,100,100,100,100,100,100,100,...,100,-7541.2643,4.864921e+06,2,1,106,2,2,23,1371713733
1,100,100,100,100,100,100,100,100,100,100,...,100,-7536.6212,4.864934e+06,2,1,106,2,2,23,1371713691
2,100,100,100,100,100,100,100,-97,100,100,...,100,-7519.1524,4.864950e+06,2,1,103,2,2,23,1371714095
3,100,100,100,100,100,100,100,100,100,100,...,100,-7524.5704,4.864934e+06,2,1,102,2,2,23,1371713807
4,100,100,100,100,100,100,100,100,100,100,...,100,-7632.1436,4.864982e+06,0,0,122,2,11,13,1369909710

## Was it straightforward to install Python and all of the libraries?

The process to install Python was cery simple  and there were no issues, most of the libraries were already included as part of Anaconda, and those that werent were very easy to install

## Was the tutorial useful? Would you recommend it to others?

The tutorial went into great detail about the most common data structures and methods to use them, however the example code is not very challenging and there are no real excersices other than trying the example code yourself, it is useful to expose the capabilities of the langague and the syntax but without real exercises I do not think it encourages knowledge retention.

## What are the main lessons you've learned from this experience?

Python is easy to configure and get started with, as long as you don{t have previous installations or different versions of Python it should be easy to get up and running, I would strongly recommend to not mox installations of Python 2.x and 3.x on the same machine as it can cause problems when installing extra components.

Python has a rich set of native data structures with very useful built in methods to work with them, the syntax is very straightforward and easy to follow and a lot less verbose than Java or C++.